<div class="flex justify-center items-center pt-[10rem]">
    <div>
        <img src="assets/login.png" alt="imagem monstros">
        <div class="relative bottom-[19rem] left-[5rem]">
            <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900">Digite um nome para jogar</label>
            <input type="text" id="small-input" class="block w-[12rem] p-2 text-gray-900 border border-gray-300 rounded-md bg-gray-50 sm:text-xs" placeholder="Digite o nome aqui">
            <div class="px-14 py-5">
                <a href="home" type="button" class="text-white bg-[#dc2a6c] hover:bg-[#ec4280] font-medium rounded-lg text-sm px-5 py-2 me-2 mb-2">Jogar</a>
            </div>
        </div>
    </div>
</div>