.tabuleiro .flex {
    width: 100%;
  }
  
  .tabuleiro .flex > * {
    flex-basis: calc(20% - 2rem);
    margin: 1rem;
  }
  
  @media (max-width: 768px) {
    .tabuleiro .flex > * {
      flex-basis: calc(50% - 2rem);
    }
  }
  
  @media (max-width: 480px) {
    .tabuleiro .flex > * {
      flex-basis: 100%;
    }
  }