<div>
  <h1></h1>
</div>
<app-modal></app-modal>

<div class="mx-auto px-[4rem] py-[10rem] max-w-[80rem] max-h-[50rem] w-[80rem] h-[45.75rem]">
  <div class="block rounded-t-lg border border-[#A4133C] max-w-[10rem] max-h-[8rem] py-2 px-5 bg-[#FF758F]">
    <h1 class="text-center font-bold uppercase text-[1.5rem] p-[1rem]">Inicio</h1>
  </div>

  <div class="pb-20">
    <app-casa-tabuleiro></app-casa-tabuleiro>
    <app-casa-tabuleiro></app-casa-tabuleiro>
    <app-casa-tabuleiro></app-casa-tabuleiro>
    <app-casa-tabuleiro></app-casa-tabuleiro>


    <div class="flex flex-row">
      <app-casa-tabuleiro></app-casa-tabuleiro>
      <app-casa-tabuleiro></app-casa-tabuleiro>
      <app-casa-tabuleiro></app-casa-tabuleiro>
      <app-casa-tabuleiro></app-casa-tabuleiro>

      <div class="flex flex-col flex-wrap-reverse">
        <app-casa-tabuleiro></app-casa-tabuleiro>
        <app-casa-tabuleiro></app-casa-tabuleiro>

        <div class="flex flex-row flex-wrap-reverse">
          <app-casa-tabuleiro></app-casa-tabuleiro>
          <app-casa-tabuleiro></app-casa-tabuleiro>
          <app-casa-tabuleiro></app-casa-tabuleiro>
        </div>

        <div class="block rounded-b-lg border border-[#A4133C] max-w-[10rem] max-h-[8rem] py-2 px-5 bg-[#FF758F]">
          <h1 class="text-center font-bold uppercase text-[1.5rem] p-[1rem]">Fim</h1>
        </div>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>


