<div class="py-[10rem]">
  <div class=" flex flex-row items-center gap-[5rem] mx-[5rem]">
    <div class="flex flex-col items-center gap-[15rem]">
      <app-roleta></app-roleta>
      <div>
        <div class="w-[40rem] h-[22rem] py-5 bg-white">
          <div class="flex flex-col gap-[2rem]">
            <div class="flex flex-row items-center justify-center">
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro1.png" alt="" class="w-24 h-24">
              </div>
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro2.png" alt="" class="w-24 h-24">
              </div>
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro3.png" alt="" class="w-24 h-24">
              </div>
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro4.png" alt="" class="w-24 h-24">
              </div>
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro5.png" alt="" class="w-24 h-28">
              </div>
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro6.png" alt="" class="w-24 h-28">
              </div>
            </div>
            <div class="flex flex-row items-center justify-center">
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro7.png" alt="" class="w-24 h-28">
              </div>
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro8.png" alt="" class="w-24 h-32">
              </div>
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro9.png" alt="" class="w-24 h-32">
              </div>
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro10.png" alt="" class="w-24 h-28">
              </div>
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro11.png" alt="" class="w-24 h-28">
              </div>
              <div class="flex flex-col items-center">
                <p class="font-bold text-[1rem]">Samantha</p>
                <img src="assets/monstro12.png" alt="" class="w-24 h-28">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-[56rem] mx-auto">
      <div>
        <div class="flex flex-row pl-[8rem]">
          <app-casa-tabuleiro [cor]='"#3a86ff"' casa="1" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#ffbe0b"' casa="2" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#fb5607"' casa="3" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#ff006e"' casa="4" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#3a86ff"' casa="5" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#ffbe0b"' casa="6" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
        </div>
        <div class="pl-[48rem]">
          <app-casa-tabuleiro [cor]='"#fb5607"' casa="7" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#ff006e"' casa="8" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#3a86ff"' casa="9" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#ffbe0b"' casa="10" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
        </div>
        <div class="flex flex-row-reverse">
          <app-casa-tabuleiro [cor]='"#fb5607"' casa="11" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#ff006e"' casa="12" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#3a86ff"' casa="13" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#ffbe0b"' casa="14" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#fb5607"' casa="15" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#ff006e"' casa="16" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <div>
            <app-casa-tabuleiro [cor]='"#3a86ff"' casa="17" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
            <app-casa-tabuleiro [cor]='"#ffbe0b"' casa="18" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
            <app-casa-tabuleiro [cor]='"#fb5607"' casa="19" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          </div>
        </div>
        <div class="flex flex-row">
          <app-casa-tabuleiro [cor]='"#ff006e"' casa="20" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#3a86ff"' casa="21" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#ffbe0b"' casa="22" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#fb5607"' casa="23" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#ff006e"' casa="24" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
          <app-casa-tabuleiro [cor]='"#3a86ff"' casa="25" pergunta="O que foi legal na sprint?"></app-casa-tabuleiro>
        </div>
      </div>
    </div>
  </div>
</div>