<div class="py-[10rem]">
  <div class=" flex flex-row items-center gap-[5rem] mx-[5rem]">
    <div class="flex flex-col items-center gap-[15rem]">
      <app-roleta></app-roleta>
      <div class="">
        <div class="w-[40rem] h-[20rem] bg-white"></div>
      </div>
    </div>
    <div class="max-w-[56rem] mx-auto">
      <div>
        <div class="flex flex-row">
          <app-casa-tabuleiro casa="6"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="5"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="4"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="3"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="2"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="1"></app-casa-tabuleiro>
        </div>
        <app-casa-tabuleiro casa="7"></app-casa-tabuleiro>
        <app-casa-tabuleiro casa="8"></app-casa-tabuleiro>
        <app-casa-tabuleiro casa="9"></app-casa-tabuleiro>
        <app-casa-tabuleiro casa="10"></app-casa-tabuleiro>
        <div class="flex flex-row-reverse">
          <div>
            <app-casa-tabuleiro casa="17"></app-casa-tabuleiro>
            <app-casa-tabuleiro casa="18"></app-casa-tabuleiro>
            <app-casa-tabuleiro casa="19"></app-casa-tabuleiro>
          </div>
          <app-casa-tabuleiro casa="16"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="15"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="14"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="13"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="12"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="11"></app-casa-tabuleiro>
        </div>
        <div class="flex flex-row-reverse">
          <app-casa-tabuleiro casa="20"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="21"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="22"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="23"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="24"></app-casa-tabuleiro>
          <app-casa-tabuleiro casa="25"></app-casa-tabuleiro>
        </div>
      </div>
    </div>
  </div>
</div>